### Q1 -> Item in Common
- Takes two lists as input and returns True if there is a common element, otherwise returns False

In [1]:
def check_common_element(list1, list2):
    unique_list1 = set(list1)

    for element in list2:
        if element in unique_list1:
            return True

    return False

In [2]:
check_common_element([], [1, 2, 3])

False

In [3]:
check_common_element([4, 5, 6, 7], [1, 2, 3])

False

In [4]:
check_common_element([2, 3, 4], [1, 2, 3])

True

### Q2 -> Find Duplicates
- Given an array of numbers, return a list of numbers which appear more than once
- Returned list should be empty if the list contains no duplicates

In [8]:
def find_duplicates(l):
    unique = set()
    duplicates = []

    for element in l:
        if element in unique:
            duplicates.append(element)
        else:
            unique.add(element)

    return duplicates

In [9]:
find_duplicates([1,2,3,3,4,5,6,6,7,2,1])

[3, 6, 2, 1]

In [10]:
find_duplicates([1,2,3,4])

[]

### Q3 -> First Non Repeating Character
- A string of lower case letters is given
- Function should return the first character which is not repeated
- It should return None if every character is repeated

In [26]:
def first_non_repeating_character(string):
    character_counts = {}

    for char in string:
        if char in character_counts:
            character_counts[char] += 1
        else:
            character_counts[char] = 1

    for key, value in character_counts.items():
        if value == 1:
            return key

    return None

In [27]:
first_non_repeating_character("hello")

'h'

In [28]:
first_non_repeating_character("aaabbccdd")

In [29]:
first_non_repeating_character("abcca")

'b'

### Q4 -> Group Anagrams
- An array of strings is provided where each string contains lower case english letters
- Output needs to be a list of lists where each internal list contains all the strings which are anagrams

In [46]:
def check_anagram(string1, string2):
    if len(string1) != len(string2):
        return False

    diff = {}
    for i in range(len(string1)):
        diff[string1[i]] = diff.get(string1[i], 0) + 1
        diff[string2[i]] = diff.get(string2[i], 0) - 1

    for value in diff.values():
        if value != 0:
            return False

    return True

In [59]:
def group_anagrams(strings):
    anagram_groups = {}

    for string in strings:
        is_anagram = False
        
        for group in anagram_groups:
            is_anagram = check_anagram(string, group)

            if is_anagram:
                anagram_groups[group].append(string)
                break

        if not is_anagram:
            anagram_groups[string] = [string]

    result = []

    for group in anagram_groups.values():
        result.append(group)

    return result

In [60]:
list_of_words = ["eat", "tea", "tan", "ate", "nat", "bat"]

In [61]:
group_anagrams(list_of_words)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [63]:
# ANOTHER APPROACH USING SORTING

def group_anagrams(strings):
    anagram_groups = {}

    for string in strings:
        sorted_string = "".join(sorted(string))

        if sorted_string in anagram_groups:
            anagram_groups[sorted_string].append(string)
        else:
            anagram_groups[sorted_string] = [string]

    return list(anagram_groups.values())

In [64]:
group_anagrams(list_of_words)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

### Q5 -> Two Sum
- Given an array of integers and a target sum, return the indices of two numbers that add upto that target
- Needs to be solved in O(n) i.e. single iteration over the array

In [69]:
def two_sum(integers, target):
    passed_values = {}

    for index, element in enumerate(integers):
        if target - element in passed_values:
            return [passed_values[target - element], index]
        
        passed_values[element] = index

    return []

In [71]:
print(two_sum([5, 1, 7, 2, 9, 3], 10))  
print(two_sum([4, 2, 11, 7, 6, 3], 9))  
print(two_sum([10, 15, 5, 2, 8, 1, 7], 12))  
print(two_sum([1, 3, 5, 7, 9], 10))  
print(two_sum([1, 2, 3, 4, 5], 10))
print(two_sum([1, 2, 3, 4, 5], 7))
print(two_sum([1, 2, 3, 4, 5], 3))
print(two_sum([], 0))

[1, 4]
[1, 3]
[0, 3]
[1, 3]
[]
[2, 3]
[0, 1]
[]

### Q6 -> Subarray Sum
- An array of integers and a target are provided as input
- Return the starting and ending index of a contiguous subarray that has a sum equal to the target
- If multiple such subarrays exist then return any one of them

In [96]:
def subarray_sum(nums, target):
    cumulative_sums = {0: -1}
    running_sum = 0

    for index, number in enumerate(nums):
        running_sum += number

        if running_sum - target in cumulative_sums:
            start = cumulative_sums[running_sum - target] + 1

            return [start, index]

        cumulative_sums[running_sum] = index

    return []

In [97]:
subarray_sum([1, 2, 3, 4, 5], 9)

[1, 3]

In [99]:
nums = [1, 2, 3, 4, 5]
target = 9
print(subarray_sum(nums, target))

nums = [-1, 2, 3, -4, 5]
target = 0
print(subarray_sum(nums, target))

nums = [2, 3, 4, 5, 6]
target = 3
print(subarray_sum(nums, target))

nums = []
target = 0
print(subarray_sum(nums, target))

[1, 3]
[0, 3]
[1, 1]
[]

### Q7 -> Remove duplicates
- A list of values is provided
- Return a new list which contains only the unique values (duplicates removed)

In [100]:
def remove_duplicates(l):
    return list(set(l))

In [101]:
remove_duplicates([8,9,0,1,2,3,1,2,3,4,5,6,5,6,7,8,9,0,9,8,7,6,5,4,3,2,1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Q8 -> Has Unique Chars
- Take a string as input
- Return True if all characters inside the string are unique else return False

In [102]:
def has_unique_chars(string):
    if len(string) == len(set(string)):
        return True
    else:
        return False

In [104]:
has_unique_chars("abcddefef")

False

### Q9 -> Find Pairs
- Given two lists of arrays containing unique numbers and a target
- Generate all possible pairs of numbers picking one from each list that add up to the target

In [105]:
def find_pairs(l1, l2, target):
    set_l1 = set(l1)
    result = []

    for number in l2:
        if target - number in l1:
            result.append((target - number, number))

    return result

In [106]:
arr1 = [1, 2, 3, 4, 5]
arr2 = [2, 4, 6, 8, 10]
target = 7

print(find_pairs(arr1, arr2, target))

[(5, 2), (3, 4), (1, 6)]

### Q10 -> Longest Consecutive Increasing Sequence
- An array of unsorted numbers is provided
- Return the length of the longest sequence which is strictly icreasing and consecutive (each element is 1 greater than the previous element)

In [110]:
def longest_consecutive_sequence(nums):
    unique = set(nums)
    longest_length = 0

    for i in nums:
        if i - 1 not in unique:
            start = i
            current_longest_length = 1

            while start + 1 in unique:
                start += 1
                current_longest_length += 1

            if current_longest_length > longest_length:
                longest_length = current_longest_length

    return longest_length

In [111]:
a = [100, 4, 200, 3, 2, 1, 5]

In [112]:
longest_consecutive_sequence(a)

5